@page
@model IndexModel;

<p> @Model.message</p>

<div class="text-center">
    <h1 class="display-4">Добро пожаловать, муж</h1>
    <h2>Ниже представлена таюлица плюсов и минусов мужа</h2>
    <p> <a href="https://vk.com/cart171998842?ref_screen=marketplace&w=product-171998842_6007144%2Fquery">(Ссылка на штаны)</a>.</p>
   
</div>
 <table class="table"> 
    <tr class="table-warning">
        <td>Плюсы мужа</td>
        <td>Минусы мужа</td>

    </tr>
    <tr>
        <td>Красивый</td>
        <td>Много играет в дота2</td>
        
    </tr>
     <tr>
        <td>Умный</td>
        <td>Не целует меня каждые 30 минут</td>

    </tr>
     <tr>
        <td>Заботливый</td>
        <td> Не разрешает купить уходовую косметику</td>

    </tr>
     <tr>
        <td>Добрый</td>
        <td> </td>

    </tr>
     <tr>
        <td>Программист</td>
        <td> </td>

    </tr>
     <tr>
        <td>Помогает мне учиться программировать</td>
        <td> </td>

    </tr>
    <tr>
        <td>Подсказывает мне как писать код</td>
        <td> </td>

    </tr>
      <tr>
        <td>Купил мне штаны</td>
        <td> </td>

</table>